{% extends "base.twig" %}

{% block js %}
    <script>
        $(function() {

            $('.addToResource').on('click', function(e){
                let el = $(e.target);

                // inc counter
                $('#countLinksInResource').text( function(i, oldval) {
                    return parseInt(oldval, 10) + 1;
                });
                let fileName = el.parent().find('a').text();
                // add to form
                $('#form').append('<input type="hidden" name="links[]" value="'+fileName+'" />');
                $(el.remove());
            });
        });
    </script>
{% endblock %}

{% block content %}
<h1>Администрирование закрытых ресурсов</h1>

<b>Список файлов</b>
<ul class="list-group list-group-flush">
    {% for file in files %}
        <li class="list-group-item">
            <a href="/conf/{{ file }}" target="_blank">{{ file }}</a>
            <button type="button" class="btn btn-outline-dark addToResource">Добавить в ресурс</button>
        </li>
    {% endfor %}
</ul>

{% if resources %}
    <b>Список ресурсов</b>
{% endif %}
<ul class="list-group list-group-flush">
    {% for resource in resources %}
        <li class="list-group-item">
            <h4>
                <a href="/access/1/{{ resource.getGenerate }}" target="_blank"> {{ resource.getName }} ({{ resource.getSum }} &#8381;)</a>
            </h4>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">IP</th>
                    <th scope="col">email</th>
                    <th scope="col">Оплачен</th>
                </tr>
                </thead>
                <tbody>
                {% for access in resource.getAccesses %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ access.getIp }}</td>
                        <td>{{ access.getEmail }}</td>
                        <td>{{ access.getPayment ? 'Да' : 'Нет' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </li>
    {% endfor %}
</ul>

<form class="form" action="/admin/postLink" method="post" id="form">

    <div class="form-group sm-6">
        <b>Ссылок в ресурсе:</b>
        <span class="badge badge-primary badge-pill" id="countLinksInResource">0</span>
    </div>
    <div class="form-group sm-6">
        <input type="text" class="form-control" name="name" placeholder="Название">
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="5" name="description" placeholder="Описание (опционально)"></textarea>
    </div>
    <div class="form-group sm-6">
        <input type="text" class="form-control" name="sum" placeholder="Сумма оплаты">
    </div>

    <button type="submit" class="btn btn-primary mb-2">Создать ресурс</button>
</form>
{% endblock %}
